* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0;
}

body {
    background-color: #212121;
}

h4 {
    font-family: Ubuntu-Medium;
    color: white;
    text-align: center;
}

h3 {
    font-family: Ubuntu-Medium;
    color: white;
    text-align: center;
}

h2 {
    font-family: Ubuntu-Medium;
    color: white;
    text-align: center;
}

.k {
    margin: 0px 5px;
}

.gems {
    width: 40px;
    height: 40px;
}

@media screen and (orientation: landscape) {
    #video {
        max-width: 75%;
    }
}

@media screen and (orientation: portrait) {
    #video {
        max-width: 90%;
    }
}

.game-button {
    background-color: #424242;
    color: white;
    border: 1px solid white;
    font-family: Ubuntu-Medium;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

.game-button:disabled {
    background-color: red;
    cursor: default;
}

#event1 {
    user-select: none;
}

.game-events {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
    opacity: 0;
    overflow-x: hidden;
    transition: .5s;
    background-color: rgba(0, 0, 0, 0.78);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#game_casino {
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 3;
    opacity: 1;
    overflow-x: hidden;
    transition: .5s;
    background-image: url(../files/img/bg_casino.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#game_casino_close {
    width: 0;
    height: 1920px;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 2;
    opacity: 1;
    overflow-x: hidden;
    transition: .5s;
    background-color: rgba(255, 0, 0, 0.205);
}

#game_casino_last_win {
    color: gray;
    font-family: Ubuntu-Medium;
}

#game_casino_last_win_sum {
    color: rgb(42, 218, 18);
    font-family: OpenSans-Light;
}

.game-choice-button {
    font-family: Ubuntu-Medium;
    padding: 5px;
    border: 1px solid black;
    margin: 0px 10px;
    transition: .5s;
    cursor: pointer;
}

.game-choice-button:hover {
    filter: invert(1);
}

.game-menu {
    display: flex;
    justify-content: space-between;
    background-color: #424242;
}

.game-menu-1 {
    text-align: center;
    background-color: #424242;
}

.game_hud {
    background-color: #424242;
    color: white;
}